.user-info.dropdown {
  span > svg {
    display: inline-block;
  }
}

/*--- footer  ----------*/
footer {
  &.footerion {
    background-color: $color_light;
  }

  .extra-contactus {
    a {
      color: $color_white;
    }
    a:hover,
    a:visited {
      background-color: $brand_color;
      color: $color_white;
    }
  }
}
