@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url($assets-opensans-regular-woff) format('woff2'),
  url($assets-opensans-regular-woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url($assets-opensans-bold-woff) format('woff2'),
  url($assets-opensans-bold-woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Light';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url($assets-opensans-bold-woff) format('woff2'),
  url($assets-opensans-bold-woff) format('woff');
}