a {
  color: $link_color;
  text-decoration: none;
}

a:visited {
  color: $visited_link_color;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}


.collapsible-sidebar-body {
  a {
    color: $color_dark;
    text-decoration: none;
  }

  a:visited,
  a:hover {
    color: $color_black;
  }

  a.current-article {
    color: $color_brand;
  }
}