a {
  color: $link_color;
  text-decoration: none;
}

a:visited {
  color: $link_color;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

.article-relatives .recent-articles li,
.article-relatives .related-articles li,
.collapsible-sidebar-body {
  a {
    color: $color_dark;
    text-decoration: none;
  }

  a:visited,
  a:hover {
    color: $color_black;
  }

  a.current-article {
    color: $color_brand;
  }
}
.collapsible-sidebar-body .sidenav-item   {
  //&:visited {
  //  color: $color_dark_light;
  //}
}
.article-relatives .recent-articles li,
.article-relatives .related-articles li {
  a:focus,
  a:hover {
    color: $brand_color;
  }
}