$text_font: "Open Sans";
$background_color: #ffffff;
$text_color: #000000;
$heading_font: "Open Sans";
$link_color: #e6552d;
$link_color_dark: #bd3914;
$visited_link_color: #bd3914;
$brand_color: #e6552d;
$brand_text_color: #e6552d;
$hover_link_color: #bd3914;
$community_image: '';
$community_background_image: '';
$homepage_background_image: '$homepage_background_image';
$community_background_image: '$community_background_image';

$background_light: #f6f0ea;
$color_light: #f6f0ea;
$color_brand: #e6552d;
$color_brand_dark: #bd3914;
$color_dark: #162d3d;
$color_black: #000000;
$color_grey: #66737c;
$color_white: #ffffff;
$brand_filter: drop-shadow(0 0 4px rgba(0,0,0,.2));



// fonts
$assets-opensans-regular-woff: '$assets-opensans-regular-woff';
$assets-opensans-light-woff: '$assets-opensans-light-woff';
$assets-opensans-bold-woff: '$assets-opensans-bold-woff';
