$text_font: "Open Sans";
$background_color: #ffffff;
$text_color: #000000;
$heading_font: "Open Sans";
$link_color: #e6552d;
$link_color_dark: #bd3914;
$visited_link_color: #bd3914;
$brand_color: #e6552d;
$brand_text_color: #e6552d;
$hover_link_color: #bd3914;
$community_image: '';
$community_background_image: '';
$homepage_background_image: '$homepage_background_image';
$community_background_image: '$community_background_image';

$background_light: #f6f0ea;
$color_light: #f6f0ea;
$color_brand: #e6552d;
$color_brand_dark: #bd3914;
$color_dark: #162d3d;
$color_dark_light: #27465d;
$color_black: #000000;
$color_grey: #66737c;
$color_white: #ffffff;
$brand_filter: drop-shadow(0 0 4px rgba(0,0,0,.2));

// fonts
$assets-opensans-regular-woff: '$assets-opensans-regular-woff';
$assets-opensans-light-woff: '$assets-opensans-light-woff';
$assets-opensans-bold-woff: '$assets-opensans-bold-woff';

// Copenhagen Default
//$hover-button-color: zass-darken($brand_color, 20%);
$secondary-text-color: zass-lighten($text_color, 20%);
//
//$primary-shade: zass-darken($background_color, 3%); //#f8f8f8 for the default background_color
//$secondary-shade: zass-darken($background_color, 5%); //#f2f2f2 for the default background_color
//
//$font-size-bigger: 16px;
//$font-size-base: 15px;
//$font-size-navigation: 14px;
$font-size-small: 13px;
$font-size-smaller: 11px;
//
//$high-contrast-border-color: #87929D; // maintains a 3:1 contrast ratio with default background color (#FFF). Use for controls and inputs
$low-contrast-border-color: #ddd; // less than 3:1 contrast ratio with default background color. Use for elements that do not require user interaction
//
//$button-color: $brand_color;
//
//$input-font-size: 14px;
//$field-text-color: #666;
//$field-text-focus-color: #555;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

//$font-weight-semibold: 600;

// Transitions
$input-transition: border .12s ease-in-out;